@mixin background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin h1 {
    font-size: 1000%;
    font-weight: 500;
    text-shadow: 2px 2px 2px black;
}

@mixin flex-center {
    align-items: center;
    justify-content: center;
}

@mixin btn-full {
    background-color: white;
    padding: 10px 100px;
    border-radius: 25px;
    transition: all 1s;

    &:hover{
        background-color: black;
        color: white;
        border: 1px solid white;
    }
}

@mixin btn-full2 {
    background-color: black;
    color: white;
    padding: 10px 100px;
    border-radius: 25px;
    transition: all 1s;

    &:hover{
        background-color: white;
        color: black;
        border: 1px solid black;
    }
}

@mixin btn-ghost {
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 70px;
    color: white;
    transition: all 1s;

    &:hover{
        background-color: black;
        color: white;
        border: 1px solid black;
    }
}